$primary-color: #214298;
$primary-hover-color: #193374;
$secondary-color: #392298;
$secondary-hover-color: #281479;
$third-color: #2b9406;
$dark-gray: #333333;
$light-gray: #777777;
$white-gray: #eee;
$aqua-color: #acb9ff;
$green-color: #64a66f;
$pink-color: #ffaced;
$purple-color: #7e33c9;
$red-color: #ec544b;
$blue-color: #3dacdc;
$orange-color: #FFA959;
$yellow-color: #ffd300;

$primary-dark-back: $dark-gray;
$primary-dark-color: #fff;
$primary-dark-hover-color: #73ccff;
$section-dark-title-color: #ccdaff;

//Device setting
// $device-xl: 90em;
// $device-lg: 75em;
// $device-md: 62em;
// $device-sm: 48.5em;
// $device-xs: 36em;
$device-xl: 1440px;
$device-lg: 1200px;
$device-md: 992px;
$device-sm: 762px;
$device-xs: 576px;
